<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Assistencia Tecnica Celular</title>
    <link title="Assistencia Tecnica Celular" rel="icon" href="_img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="lib/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="_css/teckfone.css" >

    
</head>
<body>
    <header>
        <nav class="menu">
        <div class="container">
            <div class="row">
                <img class="menu-top" src="_img/menu.png">
                <ul>
                    <li><a href="cliente.html">CLIENTE</a></li>
                    <li><a href="orcamento.html">ORÇAMENTO</a></li>
                    <li><a href="estoque.html">ESTOQUE</a></li>
                    <li><a href="servico.html">SERVIÇOS</a></li>
                    <li><a href="ajuda.html">AJUDA</a></li>
                    <li><a href="Index.html">SAIR</a></li>
                </ul>
                <img class="logo-top" src="_img/logo-teckfone.com.br.png">
            </div>
            
        </div>
        </nav>
    </header>
  <section>
    <div class="container">
        <h1 class="chamada">Cadastro de Cliente</h1>
        <hr>
        <div class="row">
 <div class="col-md-6">           
<form>

  <div class="form-group">
    <label for="Nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome Completo">
  </div>
        <div class="form-group">
    <label for="enderecoNumero">Cidade</label>
    <input type="text" class="form-control" id="enderecoNumero" placeholder="Sua Cidade - UF">
  </div>
        <div class="form-group">
    <label for="bairro">Bairro</label>
    <input type="text" class="form-control" id="bairro" placeholder="Seu Bairro">
  </div>
 <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" class="form-control" id="endereco" placeholder="Seu Endereço">
  </div>
         <div class="form-group">
    <label for="enderecoNumero">Numero</label>
    <input type="text" class="form-control" id="enderecoNumero" placeholder="Numero da Residencia ou AP">
  </div>
</form>   
</div>
<div class="col-md-6">
    <form>
     <div class="form-group">
    <label for="numeroTelefone">Telefone</label>
    <input type="text" class="form-control" id="numeroTelefone" placeholder="Numero de Telefone para Contato">
  </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
        <small id="emailHelp" class="form-text text-muted">Não se Preocupe Nunca iremos compartilhar seu email, com ninguém.</small>
    </div>
    <div class="form-group">
        <label for="marcaModeloAparelho">Aparelho</label>
        <input type="text" class="form-control" id="marcaModeloAparelho" placeholder="Modelo e Marca do Aparelho">
    </div>
      <div class="form-group">
    <label for="duvida">Defeito Reclamado</label>
    <textarea class="form-control" id="duvida" rows="3"></textarea>
  </div>
    
      <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Quero receber atualizações</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>

    </form>  
  </div>              
        </div>
      </div>      
    
  </section>       
       <footer>
           <div id="footer-info">
               <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a href="http://www.teckfone.com.br">
                    <img class="teckfone-logo-footer" alt="teckfone" src="_img/logo-teckfone.com.br.png">
                        </a>
                    </div>
                    <div class="contato-footer col-md-4">
                    
                    <h4>Contatos</h4>
                        
                        <p><a href="tel:+5567984233520"><i class="fa fa-whatsapp contato-whats" aria-hidden="true"></i>067 98423-3520</a></p> 
                        <p><a href="mail:teckfone2018@gmail.com"><i class="fa fa-envelope contato-mail" aria-hidden="true"></i>teckfone2018@gmail.com</a></p>
                    <address><a href="https://www.google.com.br/maps/place/Assist%C3%AAncia+t%C3%A9cnica+em+celulares+e+tablets+TeckFone.com.br/@-20.4687821,-54.6986015,17z/data=!3m1!4b1!4m5!3m4!1s0x9486e75c32bece6d:0x28daa35ac03976cb!8m2!3d-20.4687871!4d-54.6964128?hl=pt-BR" target="_blank">
				        <i class="fa fa-map-marker"></i> <span>Rua Setenta e seis Nº499 <br/>Nova Campo Grande</span></a>
				    </address>

				       
                    
                    </div>
                </div>
               </div>
           </div>
           <div class="footer-rodape">
                <p>
                  2018 TECKFONE - Todos os direitos reservados - Manutenção de smartphones, aparelhos celulares, tablets, computadores e notebook.
               </p>
            </div>
    </footer>
        
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/controle-js.js"></script>
 
    
</body>
</html>










































