<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Assistencia Tecnica Celular</title>
    <link title="Assistencia Tecnica Celular" rel="icon" href="_img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="lib/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="_css/teckfone.css" >

    
</head>
<body>
    <header>
        <nav class="menu">
        <div class="container">
            <div class="row">
                <ul>
                    <li><a href="orcamento.html">ORÇAMENTO</a></li>
                    <li><a href="servico.html">SERVIÇOS O.S</a></li>
                    <li><a href="estoque.html">ESTOQUE</a></li>
                    <li><a href="ajuda.html">AJUDA</a></li>
                    <li><a href="Index.html">SAIR</a></li>
                </ul>
                <img class="logo-top" src="_img/logo-teckfone.com.br.png">
            </div>
            
        </div>
        </nav>
    </header>
  <section>
    <div class="container">
        <h1 class="chamada">Ordem de Serviço</h1>
        <hr>

        <form action="" class="search-form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="search" id="search" placeholder="Filtro">
                <span class="form-control-feedback"><i class="fa fa-filter" aria-hidden="true"></i></span>
            </div>
        </form>
        
        
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nº OS</th>
      <th scope="col">Nome Cliente</th>
      <th scope="col">Aparelho</th>
      <th scope="col">Status</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">0001</th>
      <td>Denis Souto de Gouvea</td>
      <td>Samsung / G530</td>
      <td>Aprovado</td>
      <td>17/09/2019</td>
    </tr>
    <tr>
      <th scope="row">0002</th>
      <td>Charles Bento Gonsalves</td>
      <td>Motorola / Moto G5</td>
      <td>Aprovado</td>
      <td>17/09/2019</td>
    </tr>
          <tr>
      <th scope="row">0003</th>
      <td>Silverio Fonseca Santos</td>
      <td>Samsung / G560</td>
      <td>Aprovado</td>
      <td>17/09/2019</td>
    </tr>
    <tr><!--colspan="2"-->
      <th scope="row">0004</th>
      <td>Sirlene Lopes Castilho</td>
      <td>LG / K10</td>
      <td>Concluido</td>
    <td>10/05/2019</td>
    </tr>
  </tbody>
</table>
        
    </div>      
    
  </section>       
       <footer>
           <div id="footer-info">
               <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a href="http://www.teckfone.com.br">
                    <img class="teckfone-logo-footer" alt="teckfone" src="_img/logo-teckfone.com.br.png">
                        </a>
                    </div>
                    <div class="contato-footer col-md-4">
                    
                    <h4>Contatos</h4>
                        
                        <p><a href="tel:+5567984233520"><i class="fa fa-whatsapp contato-whats" aria-hidden="true"></i>067 98423-3520</a></p> 
                        <p><a href="mail:teckfone2018@gmail.com"><i class="fa fa-envelope contato-mail" aria-hidden="true"></i>teckfone2018@gmail.com</a></p>
                    <address><a href="https://www.google.com.br/maps/place/Assist%C3%AAncia+t%C3%A9cnica+em+celulares+e+tablets+TeckFone.com.br/@-20.4687821,-54.6986015,17z/data=!3m1!4b1!4m5!3m4!1s0x9486e75c32bece6d:0x28daa35ac03976cb!8m2!3d-20.4687871!4d-54.6964128?hl=pt-BR" target="_blank">
				        <i class="fa fa-map-marker"></i> <span>Rua Setenta e seis Nº499 <br/>Nova Campo Grande</span></a>
				    </address>

				       
                    
                    </div>
                </div>
               </div>
           </div>
           <div class="footer-rodape">
                <p>
                  2018 TECKFONE - Todos os direitos reservados - Manutenção de smartphones, aparelhos celulares, tablets, computadores e notebook.
               </p>
            </div>
    </footer>
        
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/controle-js.js"></script>
 
    
</body>
</html>










































