<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Assistencia Tecnica Celular</title>
    <link title="Assistencia Tecnica Celular" rel="icon" href="_img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" >
    <link rel="stylesheet" href="lib/OwlCarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/OwlCarousel2/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="_css/teckfone.css" >

    
</head>
<body>
    <header>
        <nav class="menu">
        <div class="container">
            <div class="row">
                <ul>
                    <li><a href="orcamento.html">ORÇAMENTO</a></li>
                    <li><a href="servico.html">SERVIÇOS O.S</a></li>
                    <li><a href="estoque.html">ESTOQUE</a></li>
                    <li><a href="ajuda.html">AJUDA</a></li>
                    <li><a href="Index.html">SAIR</a></li>
                </ul>
                <img class="logo-top" src="_img/logo-teckfone.com.br.png">
            </div>
            
        </div>
        </nav>
    </header>
  <section>
    <div class="container">
        <h1 class="chamada">Listagem de Cliente</h1>
        <hr>

<table id="minhaTabela" class="table table-hover">
    <thead>
      <tr>
        <th>Data-Cadastro</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Aparelho</th>
        <th>Telefone</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>17/09/2019</td>
        <td>Vinicius Moura</td>
        <td>Rua 80 nº 180</td>
        <td>Sansumg / G532</td>
        <td>67 98345-68791</td>
        <td><a href="#">Orçamento </a> | <a href="#"> O.S</a></td>
      </tr>
        <tr>
        <td>17/09/2019</td>
        <td>Luis Cladio Santana</td>
        <td>Rua 85 nº 382</td>
        <td>Sansumg / A20</td>
        <td>67 98345-68791</td>
        <td><a href="#">Orçamento </a> | <a href="#"> O.S</a></td>
      </tr>
    </tbody>
  </table>
  


        
    </div>      
    
  </section>       
       <footer>
           <div id="footer-info">
               <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a href="http://www.teckfone.com.br">
                    <img class="teckfone-logo-footer" alt="teckfone" src="_img/logo-teckfone.com.br.png">
                        </a>
                    </div>
                    <div class="contato-footer col-md-4">
                    
                    <h4>Contatos</h4>
                        
                        <p><a href="tel:+5567984233520"><i class="fa fa-whatsapp contato-whats" aria-hidden="true"></i>067 98423-3520</a></p> 
                        <p><a href="mail:teckfone2018@gmail.com"><i class="fa fa-envelope contato-mail" aria-hidden="true"></i>teckfone2018@gmail.com</a></p>
                    <address><a href="https://www.google.com.br/maps/place/Assist%C3%AAncia+t%C3%A9cnica+em+celulares+e+tablets+TeckFone.com.br/@-20.4687821,-54.6986015,17z/data=!3m1!4b1!4m5!3m4!1s0x9486e75c32bece6d:0x28daa35ac03976cb!8m2!3d-20.4687871!4d-54.6964128?hl=pt-BR" target="_blank">
				        <i class="fa fa-map-marker"></i> <span>Rua Setenta e seis Nº499 <br/>Nova Campo Grande</span></a>
				    </address>

				       
                    
                    </div>
                </div>
               </div>
           </div>
           <div class="footer-rodape">
                <p>
                  2018 TECKFONE - Todos os direitos reservados - Manutenção de smartphones, aparelhos celulares, tablets, computadores e notebook.
               </p>
            </div>
    </footer>
        
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/OwlCarousel2/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/controle-js.js"></script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
  $(document).ready(function(){
      $('#minhaTabela').DataTable({
          "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "infoFiltered": "(filtrado de _MAX_ registros no total)"
            }
        });
  });
  </script>
 
    
</body>
</html>










































